* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Crimson Pro", serif;
    background-image: url(./images/background_image0.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 1.2rem;
    font-family: "Radio Canada", cursive;
}

header,
form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70%;
}

form input,
form button {
    height: auto;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    background: rgb(255, 255, 255);
    margin: 1rem auto;
    margin-bottom: 0.5rem;
}

form input {
    border-radius: 3px 0px 0px 3px;
    margin-left: 1.1rem;
}

form input:focus {
    outline: none;
}

form button {
    border-radius: 0px 3px 3px 0px;
}

form button {
    color: rgba(0, 0, 0, 0.9);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    margin-bottom: 0.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

select {
    color: black;
    width: 10rem;
    padding: 1.3rem;
    cursor: pointer;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: black;
    top: 0;
    right: 0;
    padding: 1.3rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: white;
    color: black;
}

.view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 550px;
    width: 30%;
    margin: 3rem;
    min-height: 790px;
    background-color: rgba(0, 0, 0, 0.68);
    border-radius: 3px;
}

.todo-list-container {
    display: flex;
    margin: 1rem 1rem;
    justify-content: center;
    align-items: center;
    min-width: 70%;
    margin: 1rem 1rem;
}

.todo-list {
    min-width: 100%;
    list-style: none;
}

.todo {
    border-radius: 3px;
    margin: 1.5rem 0rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.7s ease;
}

.todo li {
    flex: 1;
}

.trash-btn,
.check-btn {
    background-color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.trash-btn {
    color: rgba(255, 10, 10, 0.9);
    border-radius: 0px 3px 3px 0px;
}

.trash-btn:hover {
    color: white;
    background: rgba(255, 10, 10, 0.9);
}

.check-btn {
    color: rgba(10, 255, 10, 0.9);
}

.check-btn:hover {
    color: white;
    background: rgba(10, 255, 10, 0.9);
}

.todo-item {
    padding: 0rem 0.5rem;
    font-size: 1.1rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.checked {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
